// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'custom';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.card-custom{
    box-shadow: 0px 4px 27px -3px rgba(73,97,231,0.16);
      border-width:0px;
      margin:2% 0.5%;
      background-color: white;
      padding:3.7% 3%;
      border-radius: 16px;
    };

    .button{
      margin-top:18px;
    }
    .btn-primary{
      border-radius: 25px;
      width: 160px;
      border:0;
      background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, #2b2b2b 100%);
      font-weight:bold;
      

    }
    .btn-dark{
      border-radius: 25px;
      min-width: 100px;
      border:0;
      background-image: linear-gradient(to right, #2b2b2b 0%, #2b2b2b 100%)
    }
    .btn{
      border-radius: 25px!important;
      min-width: 100px;

    }

    h1,h2,h3,h4,h5,h6{
      font-weight: bold!important;
      color: #2b2b2b!important;
      // margin-top:10px;
    }